p {
  color: red;
}
a {
  color: #ccc;
  border: 1px solid #ccc;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  text-align: center;
  line-height: 2rem;
  margin: 3px;
}
a:hover{
  background: #ccc;
  color: #111;
  text-decoration: none;
}
img {
  width: 100%;
}
.container-fluid, .row justify-content-center, .col-12, .col-sm-6, .col-md-4, .col-lg-3, .col-xl-3{
 position: relative;
 padding-right: 1px;
 padding-left: 1px;
    width: 100%;
}
.container {
 margin-top: 3rem;
 display: flex;
 flex-flow: row nowrap;
 justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  }
.background{
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;

}
.background:hover{

  display: flex;
  flex-direction: column;

}
.project{
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: sans-serif;
  padding-bottom: 5px;
}
.project:hover{
  opacity: 0.8;
  background: tomato;
  display: flex;
  flex-direction: column;

}
p{
  color: white;
  font-size: 15px;
}
.project-name{
padding-top: 50px;
}
